@page "/dbalbums"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using dotnet_lab4_database.Components
@using dotnet_lab4_database.Data
@implements IAsyncDisposable
@inject IDbContextFactory<dotnet_lab4_database.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>
@rendermode InteractiveServer
<h1>Index</h1>

<AuthorizeView>
    <Authorized>
        <p>
            <a href="dbalbums/create">Create New</a>
        </p>
    </Authorized>
    <NotAuthorized>
        <p>
            <a href="Account/Login">Login to create a new album</a>
        </p>
    </NotAuthorized>
</AuthorizeView>


<QuickGrid Class="table" Items="context.DbAlbum">
    <PropertyColumn Property="dbalbum => dbalbum.Title" Sortable="true"/>
    <PropertyColumn Property="dbalbum => dbalbum.Artist" Sortable="true" />
    <PropertyColumn Property="dbalbum => dbalbum.Genre" Sortable="true" />
    <PropertyColumn Property="dbalbum => dbalbum.ReleaseDate" Sortable="true" />
    <PropertyColumn Property="dbalbum => dbalbum.Rate" Sortable="true" />

    <TemplateColumn Context="dbalbum">
        <AuthorizeView>
            <Authorized>
                <a href="@($"dbalbums/edit?id={dbalbum.Id}")">Edit</a> |
                <a href="@($"dbalbums/details?id={dbalbum.Id}")">Details</a> |
                <a href="@($"dbalbums/delete?id={dbalbum.Id}")">Delete</a>
            </Authorized>
            <NotAuthorized>
                <a href="@($"dbalbums/details?id={dbalbum.Id}")">Details</a> 
            </NotAuthorized>
        </AuthorizeView>

    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
